body {
    background-color: navajowhite;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0 10% 2% 10%;
}

h1 {
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    background-color: blanchedalmond;
    border-radius: 10px;
    padding: 0.8em;
    border: 2px solid whitesmoke;
}


.Accessibility, .SEO, .Easy {
    font-weight: bold;
}

tr, th, td {
    border: 2px solid gray;
    border-radius: 4px;
    padding: 5px;
}


td {
    font-style: italic;
}

th {
    font-family: monospace;
    font-size: 16px; 
}

.Tags th{
    background-color: palegreen;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border: 2px solid seagreen;
}

.Attributes th{
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.Table1 {
    color: seagreen;
    text-decoration: underline;
}

.Table2 {
    color: dodgerblue;
    text-decoration: underline;
}

footer{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-size: 12px;
    background-color: blanchedalmond;
    color: black;
    padding: 3em;
    margin-top: 70px;
    border-radius: 10px;
    border: 2px solid whitesmoke;
}



